
*, *:before, *:after {
  box-sizing: border-box;
}

.App {
  font-family: "COOP-Regular","Helvetica Neue",Helvetica,Arial,sans-serif;
  
}

 .imagelogo {
  margin: 50px, 0 20px 40px;
  padding-top: 50px;
  padding-left: 30px;

}

hr { 
  width:100%; 
  height:3.5px; 
  background-color: #046ab8
}

.firstHeading, .secondHeading {
  font-size: medium;
  margin-left: 50px;
  font-size: 21px;
  color: #002663;
}


.chuck {
  max-width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: right;
   }

 .secondHeading {
   font-size: 30px;
 }

 .Button .btn .btn-button { 
   color: aliceblue;
   margin-left: 50px;
   padding-left: 100px;
 }
 
 #col_button {
  margin-left: 50px;
  padding-left: 100px;
  margin-top: 50px;
 }

 h1 {
   color: #002663;
   font-size: 42.66px;
  margin-left: 30px;
  padding-left: 20px;
   padding-top: 5px;
  padding-bottom: 5px;
   font-family: Helvetica;
   font-weight: 600;
   justify-content: center;
 }

 #renderjokes {
  font-family: Helvetica;
  font-size: 20px;
  font-weight: 200;
  margin-top:10px;
  padding:10px;
  margin:10px
 }

 p {
   color: #002663;
   margin-left: 20px;
   padding-left: 10px;
 }